* {
  box-sizing: border-box;
}

:root {

  --ff-display: 'Abril Fatface', cursive;
  --ff-sans: 'Catamaran', sans-serif;
  --ff-bebas: 'Bebas Neue', cursive;

  --clr-orange: #F27052;
  --clr-pink: #FA0268;
  --clr-yellow: #F23207;
  --clr-green: #088C7F;
  --clr-light-green: #17BFAE;
  /* --clr-green: #21A5AA; */
  --clr-black: #2B283A;
  /* --clr-black: #373737; */
  /* --clr-brightyellow: #F2CB05; */
  --clr-brightyellow: #F2163E;
  --clr-white: #F2F2F2;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-black);
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

p {
  font-family: var(--ff-sans);
  line-height: 2;
}

img {
  width: 100%;
}


/***** Header Styles ******/

nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calculator {
  height: 40px;
  width: 40px;
  color: var(--clr-green);
}

.nav--list--1,
.nav--list--2 {
  list-style-type: none;
  display: flex;
}

.nav--list--1 {
  padding-left: 0;
  justify-content: space-around;
  width: 200px;
}

.nav--list--2 {
  justify-content: space-around;
  width: 200px;
  padding: 0;
}

.nav--list--1 > li,
.nav--list--2 > li {
  font-family: var(--ff-sans);
  font-weight: 600;
  cursor: pointer;
}

.nav--list--1 > li > a,
.nav--list--2 > li > a {
  text-decoration: none;
  color: var(--clr-black);
}

.nav--list--1 > li > a:hover {
  text-decoration: underline;
}

.nav--list--2 .calc--link {
  background-color: var(--clr-brightyellow);
  border-radius: 10px;
}

.nav--list--2 .calc--link:hover {
  background-color: var(--clr-yellow);
}

.nav--list--2 .calc--link > a {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 0.875rem;
}

.line--left {
  height: 1px;
  width: 25%;
  position: relative;
}

.line--left--fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-black);
}

.line--right {
  height: 1px;
  width: 25%;
  position: relative;
}

.line--right--fill {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--clr-black);
}

/********** Hero Styles ************/


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.6)), url('./images/fashion-bg.jpg');
  background-position: center center;
  background-size: cover;
  padding-bottom: 2em;
}

.hero--content {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
}

.hero--content > p.pre--title {
  text-transform: uppercase;
  font-size: .5rem;
  font-family: var(--ff-sans);
  letter-spacing: 1px;
  color: #F2CB05;
}

.hero--content > h1.title {
  font-family: var(--ff-display);
  font-size: 2rem;
  letter-spacing: 1.2px;
  line-height: 1.15;
  margin-bottom: .75em;
  margin-top: .25em;
  text-shadow: 0px 0px 4px darkslategrey;
}

h1.title > span {
  display: block;
}

.hero--content > p.description {
  line-height: 2;
  font-size: 1rem;
  margin-bottom: 2em;
}


.start--btn {
  font-family: var(--ff-sans);
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.5px;
  width: 100%;
  background-color: #088C7F;
  border: none;
  color: white;
  padding: .5em 0;
  font-size: 1rem;
  margin-top: 1.5em;
  cursor: pointer;
}

/***** media queries *******/

@media (min-width: 768px) {

  .hero {
    margin: 0 auto;
    flex-direction: row;
  }

  .hero--content {
    text-align: left;
  }

  .hero--content > h1.title {
    font-size: 3.5rem;
    letter-spacing: 2.25px;
  }

  .hero--content > p.description {
    max-width: 500px;
    font-size: 1rem;
  }

  .start--btn {
    width: 30%;
    border-radius: 10px;
  }
}


/********** Works Styles **********/

.works--container {
  display: flex;
  flex-direction: column-reverse;
  margin: 4em auto 3em;
  padding: 1em;
}

.works-right {
  margin-bottom: 2em;
}

.works-right > h2 {
  text-align: center;
  margin-bottom: 2em;
  font-weight: 900;
  font-size: 2rem;
}

.perks-container {
  text-align: left;
}

.perk {
  margin-bottom: 1.25em;
}

.perk > p.pill {
  background-color: var(--clr-light-green);
    width: 15%;
    padding: 0 .75em;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1.25em;
    color: white;
    font-weight: 600;
    font-size: .5rem;
    text-transform: uppercase;
}

.perk > h3 {
  font-weight: 800;
  font-size: 1.15rem;
  margin: 1.25em auto .5em;
}

.perk-description {
  font-weight: 300;
}

.apple-img {
  display: none;
}

@media (min-width: 900px) {

  .works--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;   
    gap: 40px;
    max-width: 1200px; 
    margin-top: 6em;
    align-items: center;
  }

  .apple-img {
    display: block;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    border-radius: 8px;
    width: 100%;
    height: 700px;
  }
 
  .works-right > h2 {
    text-align: left;
    font-size: 2.25rem;
    padding-top: .5em;
    padding-left: .5em;
    margin-bottom: .75em;
  }

  .perks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 10px;
    padding: 1em;
    text-align: left;
  }

  .perk {
    padding: .5em;
    width: 90%;
  }

  .perk > p.pill {
    background-color: var(--clr-light-green);
    width: 40%;
    padding: 0 .75em;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1.25em;
    color: white;
    font-weight: 600;
    font-size: .75rem;
  }

  .perk > h3 {
    font-size: 1.25rem;
    font-weight: 800;
    padding: 0;
  }

  .perk-description {
    max-width: 350px;
  }

}


/******** Measuring Tips *************/

.measuring-tips {
  margin: 4em 0;
}

.measuring-tips-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: #A7E1DA;
  padding: 1em 1em 5em;
}

.waist-img {
  max-width: 100%;
  margin-bottom: 2em;
  border-radius: 5px;
}

.measuring-tips-inner > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  color: var(--clr-black);
  font-size: 2rem;
  max-width: 500px;
  padding: 2em 0 1em;
  margin: 0 auto;
  text-align: center;
}

.measuring-tips-inner > h2 > span {
  font-size: 1rem;
   display: block;
   margin-top: .5em;
   font-weight: 500;
}

.steps {
  font-size: 1.15rem;
  margin: .5em auto;
  text-align: left;
  max-width: 250px;
}

.steps > span {
  font-weight: 900;
  padding-right: .5em;
  display: block;
  text-align: center;
  font-size: 2rem;
}


@media (min-width: 900px) {

  .measuring-tips {
    padding: 2em;
  }

  .measuring-tips-inner {
    display: grid;
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 50px;
    padding: 1em 0 3em;
    
  }

  .measuring-tips-inner > h2 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
  }

  .measuring-tips-inner > h2 {
    font-size: 2rem;
  }

 .measuring-tips-inner > h2 > span{
   font-size: .85rem;
 }

  .waist-img {
    width: 100%;
    grid-column: 3 / 3;
    grid-row: 2 / 4;
    border-radius: 10px;
  }

  .waist-img {
    display: block;
  }

  .step-one {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .step-two {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }

  .step-three {
    grid-column: 4 / 4;
    grid-row: 3 / 3;
  }

  .step-four {
    grid-column: 4 / 4;
    grid-row: 2 / 2;
  }

  .step-five {
    grid-column: 3 / 3;
    grid-row: 4 / 4;
  }

  .steps {
    font-size: 1.15rem;
    margin: 0 auto;
    text-align: center;
  }

  .steps > span {
    font-weight: 900;
    padding-right: .25em;
  }


}

/*** Testimonials Section ***/

/* Mobile */

.testimonials-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0 5em;
  margin: 0 0 5em;
}

.testimonials-container > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 2.25rem;
  color: var(--clr-black);
  margin-bottom: 1em;
}

.testimonials-container > h2 > span {
  font-size: 1rem;
   display: block;
   margin: .5em 0 1em;
   font-weight: 500;
}

.testimonial-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: var(--clr-black);
}

.testimonial {
  width: 90%;
  padding: 2em;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px #ccc;
}

.testimonial:nth-child(2) {
  margin: 1em 3em;
}

.testimonial > p {
  font-size: 1rem;
}

.testimonial > p.author {
  color: var(--clr-black);
  font-weight: 800;
  margin-top: 2em;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 2em;
}

/* Desktop styles */

@media (min-width: 900px) {

  .testimonial-wrapper {
    flex-direction: row;
  }

  .testimonial {
    width: 20%;
  }

  .testimonial > p {
    font-size: 1.12em;
  }

  .testimonial:nth-child(2) {
    margin: 0 3em;
  }
}

/******** FAQ Styles *************/

/* Mobile styles */

.faqs {
 width: 100%;
 max-width: 768px;
 margin: 0 auto;
 padding: 1.25rem;
}

.faqs .faq {
  background-color: var(--clr-green);
  color: white;
  padding: .75em .5em;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.faqs .faq .faq-question {
  color: white;
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;

  transition: all 0.4s ease;
}

.faqs .faq .faq-question::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;

  background-image: url('./arrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease-in-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-in-out;
  text-align: left;
}

.faqs .faq.open .faq-question::after {
  transform: rotate(90deg);
}

.faqs .faq.open .faq-answer {
  max-height: 100px;
  opacity: 1;
  padding: 1em 0;
  text-align: left;
}

.faqs-container > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 2.25rem;
  color: var(--clr-black);
  margin-bottom: 1em;
} 

.faqs-container > h2 > span {
  font-size: 1rem;
  display: block;
  margin-top: .5em;
  font-weight: 500;
} 

.faq:last-of-type {
  margin-bottom: 7em;
}

.get-started {
  margin-bottom: 4em;
}

.get-started > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 2rem;
  color: var(--clr-black);
  margin-bottom: 1em;
}



/******* Button Component Styles *********/




button {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: #088C7F;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: .75em;
  width: 40%;
  font-size: 1.2rem;
  color: white;
  font-family: var(--ff-sans);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 800;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

button:hover {
  opacity: 0.8;
}

button:active {
  transform: scale(0.98);
  box-shadow: none;
}

/******** Calculator Styles *************/

.calculator-container {
  width: 100%;
  height: 100%;
  padding-bottom: 3em;
}


.calculator-container > h2 {
  font-family: var(--ff-sans);
  padding: 3em 0 1em;
  font-size: 2rem;
  color: var(--clr-black);
  letter-spacing: 1.3px;
  font-weight: 800;
}


.calculator-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 0 auto 2em;
  background-color: var(--clr-green);
  padding: 3em .5em 4em;
  border-radius: 10px;
  box-shadow: 7px 7px 10px rgba(0,0,0,0.25);
}

form {
  margin: 0 auto;
}

form > h4 {
  color: var(--clr-black);
  font-family: var(--ff-sans);
  letter-spacing: 1.5px;
  font-size: 1.25rem;
  padding-bottom: 2em;
}

.form--element {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5em 2.5em;
  
}

input {
  width: 45%;
  border: none;
  box-shadow: inset -10px -10px 15px rgba(8,140,127,0.2),
              inset 10px 10px 15px rgba(8,140,127,0.12);
  padding: .5em;
  border-radius: 3px;
}

input:focus {
  outline-color: var(--clr-green);
}

label {
  font-family: var(--ff-bebas);
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: var(--clr-black);
  justify-self: end;
}

.calculate-btn {
  margin-top: 3em;
  background-color: var(--clr-yellow);
  color: var(--clr-black);
  text-shadow: 0px 0px rgba(0,0,0,0.8);
  border: none;
  padding: .25em 2em;
  border-radius: 8px;
  width: 80%;
  font-family: var(--ff-bebas);
  font-size: 1.25rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: box-shadow .525s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.calculate--btn:hover {
  box-shadow: 12px 12px var(--clr-brightyellow);
}


@media (min-width: 900px) {

  
  .calculator-form {
    width: 25%;
  }
}


/********** Footer Styles ************/

.footer {
  background-color: var(--clr-green);
  padding-top: 2em;
  color: var(--clr-black);
  font-size: 1rem;
  font-family: var(--ff-sans);
  font-weight: 600;
}

.footer a {
  text-decoration: none;
  color: var(--clr-yellow);
}
