* {
  box-sizing: border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}

:root {

  --ff-display: 'Abril Fatface', cursive;
  --ff-sans: 'Catamaran', sans-serif;

  --clr-orange: #F27052;
  --clr-green: #088C7F;
  --clr-light-green: #40B6AD;
  --clr-black: #2B283A;
  --clr-white: #F2F2F2;


}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--clr-black);
}

html {
  scroll-behavior: smooth;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}


p {
  font-family: var(--ff-sans);
  line-height: 2;
}

img {
  width: 100%;
  display: block;
}


/********** Hero Styles ************/


.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('./images/women-shapes.jpg');
  background-position: center center;
  background-size: cover;
  padding: 4em 0;
}

.hero--content {
  width: 80%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
}

.hero--content > p.pre--title {
  text-transform: uppercase;
  font-size: .5rem;
  font-family: var(--ff-sans);
  letter-spacing: 1px;
  color: var(--clr-orange);
}

.hero--content > h1.title {
  font-family: var(--ff-display);
  font-size: 2rem;
  letter-spacing: 1.2px;
  line-height: 1.25;
  margin-bottom: .75em;
  margin-top: .25em;
  text-shadow: 0px 0px 4px darkslategrey;
}

h1.title > span {
  display: block;
}

.hero--content > p.description {
  line-height: 2;
  font-size: 1rem;
  margin-bottom: 2em;
}

.arrow-animation {
  width: 300px;
  display: flex;
  justify-content: center;
}


/* tablet */

@media (min-width: 700px) {

  .hero--content > h1.title {
    font-size: 2.5rem;
  }

  .hero--content > p.description {
    max-width: 400px;
  }


}

/* desktop */

@media (min-width: 1000px) {

  .hero {
    margin: 0 auto;
    flex-direction: row;
  }

  .hero--content {
    text-align: left;
  }

  .hero--content > p.pre--title {
    font-size: .75rem;
  }

  .hero--content > h1.title {
    font-size: 3rem;
    letter-spacing: 2.25px;
  }

  .hero--content > p.description {
    max-width: 400px;
    font-size: 1rem;
  }

  .start--btn {
    width: 30%;
    border-radius: 10px;
  }
}


/********** Works Styles **********/

.works--container {
  display: flex;
  flex-direction: column-reverse;
  margin: 4em auto 3em;
  padding: 1.5em;
}

.works-right {
  margin-bottom: 2em;
}

.works-right > h2 {
  text-align: center;
  margin-bottom: 2em;
  font-weight: 900;
  font-size: 2rem;
}

.perks-container {
  text-align: left;
}

.perk {
  max-width: 500px;
  margin: 0 auto 1.25em;
}

.perk > p.pill {
  background-color: var(--clr-light-green);
    width: 15%;
    padding: 0 .75em;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1.25em;
    color: white;
    font-weight: 600;
    font-size: .5rem;
    text-transform: uppercase;
}

.perk > h3 {
  font-weight: 800;
  font-size: 1.15rem;
  margin: 1.25em auto .5em;
}

.perk-description {
  font-weight: 300;
}

.apple-img {
  display: none;
}


/* Desktop */

@media (min-width: 900px) {

  .works--container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;   
    gap: 40px;
    max-width: 1200px; 
    margin-top: 6em;
    align-items: center;
    padding: 1em;
  }

  .apple-img {
    display: block;
    grid-column: 1 / 1;
    grid-row: 1 / 2;
    border-radius: 8px;
    width: 100%;
    
  }
 
  .works-right > h2 {
    text-align: left;
    font-size: 2.25rem;
    padding-top: .5em;
    padding-left: .5em;
    margin-bottom: .75em;
  }

  .perks-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 10px;
    padding: 1em;
    text-align: left;
  }

  .perk {
    padding: .5em;
    width: 90%;
  }

  .perk > p.pill {
    background-color: var(--clr-light-green);
    width: 40%;
    padding: 0 .75em;
    border-radius: 15px;
    text-align: center;
    margin-bottom: 1.25em;
    color: white;
    font-weight: 600;
    font-size: .75rem;
  }

  .perk > h3 {
    font-size: 1.25rem;
    font-weight: 800;
    padding: 0;
  }

  .perk-description {
    max-width: 350px;
  }

}


/******** Measuring Tips *************/

.measuring-tips {
  margin: 4em 0;
}

.measuring-tips-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--clr-orange);
  padding: 1em 1em 5em;
}

.waist-img {
  max-width: 100%;
  margin-bottom: 2em;
  border-radius: 5px;
}

.measuring-tips-inner > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  color: var(--clr-black);
  font-size: 2rem;
  max-width: 500px;
  padding: 2em 0 1em;
  margin: 0 auto;
  text-align: center;
}

.measuring-tips-inner > h2 > span {
  font-size: 1rem;
   display: block;
   margin-top: .5em;
   font-weight: 500;
}

.steps {
  font-size: 1.15rem;
  margin: .5em auto;
  text-align: left;
  max-width: 250px;
}

.steps > span {
  font-weight: 900;
  padding-right: .5em;
  display: block;
  text-align: center;
  font-size: 2rem;
  color: var(--clr-black);
}

/* Tablet */ 

@media (min-width: 700px) {
 
  .measuring-tips-inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(1fr, 4);
  }

  .measuring-tips-inner > h2 {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }

  .waist-img {
    max-width: 60%;
    grid-column: 1 / -1;
    grid-row: 2 / 2;
    margin: 0 auto;
  }

}

/* Desktop */

@media (min-width: 1100px) {

  .measuring-tips {
    padding: 2em;
  }

  .measuring-tips-inner {
    display: grid;
    grid-template-columns: 1fr 300px 300px 300px 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 30px 50px;
    padding: 1em 0 3em;
    
  }

  .measuring-tips-inner > h2 {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    font-size: 2.25rem;
  }

 .measuring-tips-inner > h2 > span{
   font-size: .85rem;
 }

  .waist-img {
    max-width: 100%;
    grid-column: 3 / 3;
    grid-row: 2 / 4;
    border-radius: 10px;
  }

  .waist-img {
    display: block;
  }

  .step-one {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  .step-two {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }

  .step-three {
    grid-column: 4 / 4;
    grid-row: 2 / 3;
  }

  .step-four {
    grid-column: 4 / 4;
    grid-row: 3 / 3;
  }

  .step-five {
    grid-column: 3 / 3;
    grid-row: 4 / 4;
  }

  .steps {
    font-size: 1.15rem;
    margin: 0 auto;
    text-align: center;
  }

  .steps > span {
    font-weight: 900;
    padding-right: .25em;
  }


}

/*** Testimonials Section ***/

/* Mobile */

.testimonials-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em 0 5em;
  margin: 0 0 5em;
}

.testimonials-container > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 2.25rem;
  color: var(--clr-black);
  margin-bottom: 1em;
  text-align: center;
}

.testimonials-container > h2 > span {
  font-size: 1rem;
   display: block;
   margin: .5em 0 1em;
   font-weight: 500;
}

.testimonial-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: var(--clr-black);
}

.testimonial {
  width: 90%;
  padding: 2em;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px #ccc;
}

.testimonial:nth-child(2) {
  margin: 1em 3em;
}

.testimonial > p {
  font-size: 1rem;
}

.testimonial > p.author {
  color: var(--clr-black);
  font-weight: 800;
  margin-top: 2em;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-bottom: 2em;
}

/* Desktop */

@media (min-width: 900px) {

  .testimonial-wrapper {
    flex-direction: row;
  }

  .testimonial {
    width: 20%;
  }

  .testimonial > p {
    font-size: 1.12em;
  }

  .testimonial:nth-child(2) {
    margin: 0 3em;
  }
}

/******** FAQ Styles *************/

/* Mobile */

.faqs {
 width: 100%;
 max-width: 768px;
 margin: 0 auto;
 padding: 1.5rem;
}

.faqs .faq {
  background-color: rgba(64, 182, 173, 0.9);
  color: var(--clr-black);
  padding: .75em .5em;
  margin: 1em auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
}

.faqs .faq .faq-question {
  color: var(--clr-black);
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  text-align: left;
  position: relative;

  transition: all 0.4s ease-in-out;
}

.faqs .faq .faq-question::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25px;
  height: 25px;

  background-image: url('./images/arrow.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  transition: all 0.4s ease-in-out;
}

.faqs .faq .faq-answer {
  opacity: 0;
  max-height: 0;
  overflow-y: hidden;
  transition: all 0.4s ease-in-out;
  text-align: left;
}

.faqs .faq.open .faq-question::after {
  transform: rotate(90deg);
}

.faqs .faq.open .faq-answer {
  max-height: 100px;
  opacity: 1;
  padding: 1em 0;
  text-align: left;
  font-family: var(--ff-sans);
  font-weight: 400;
  font-size: 1.15rem;
}

.faqs-container > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 2.25rem;
  color: var(--clr-black);
  margin-bottom: 1em;
  text-align: center;
} 

.faqs-container > h2 > span {
  font-size: 1rem;
  display: block;
  margin-top: .5em;
  font-weight: 500;
} 

.faq:last-of-type {
  margin-bottom: 7em;
}

.get-started {
  margin: 0 auto 6em;
  padding: .5em;
}

.get-started > h2 {
  font-family: var(--ff-sans);
  font-weight: 800;
  font-size: 2.25rem;
  color: var(--clr-black);
  margin-bottom: 1em;
  text-align: center;
}

@media (min-width: 900px) {
  .faqs .faq .faq-question {
    font-size: 1.25rem;
  }

  .get-started > h2 {
    font-size: 2.25rem;
  }
}


/******* Button Component Styles *********/


button {
  cursor: pointer;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  background-color: #088C7F;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: .75em;
  width: 30%;
  font-size: 1.2rem;
  color: var(--clr-black);
  font-family: var(--ff-sans);
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  margin: 0 auto;
}

button:hover {
  cursor: pointer;
  box-shadow: 10px 10px var(--clr-black);
  transition: box-shadow .52s cubic-bezier(.68, -.55, .265, 1.55);
}

button:active {
  transform: scale(0.98);
  box-shadow: none;
}

.orange-btn {
  background-color: var(--clr-orange);
  width: 200px;
}

/******** Calculator Styles *************/

.calculator-container {
  width: 100%;
  height: 100%;
  padding: 0 1em 3em;
  margin-top: 2em;
}

.calculator-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 2em;
  padding: 3em 1em 4em;
  border-radius: 10px;
  box-shadow: 10px 10px var(--clr-light-green);
  border: 3px solid var(--clr-light-green);
}

form {
  margin: 0 auto;
}

form > h4 {
  color: var(--clr-black);
  font-family: var(--ff-sans);
  letter-spacing: 1.2px;
  font-size: 1.5rem;
  padding-bottom: 2em;
  text-align: center;
}

.form--element {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .5em 1.5em;
  
}

input[type=text] {
  width: 90%;
  border: none;
  padding: 1em;
  border-radius: 10px;
  font-family: var(--ff-sans);
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  appearance: none;
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, .25), inset 2px 2px 3px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, .25), inset 2px 2px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, .25), inset 2px 2px 3px rgba(0, 0, 0, .2);

}

input:focus {
  outline-color: var(--clr-light-green);
}

.calculate-btn {
  margin-top: 3em;
  background-color: var(--clr-light-green);
  color: var(--clr-white);
  text-shadow: 0px 0px rgba(0,0,0,0.8);
  border: none;
  padding: .75em 2em;
  border-radius: 5px;
  width: 100%;
  font-family: var(--ff-sans);
  font-size: 1.25rem;
  letter-spacing: 2px;
  cursor: pointer;
  transition: box-shadow .525s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}



/********** Results Section Styles ************/

.results-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 3em;
  border-radius: 10px;
  padding: 3em 1.5em;
}

.results {
  text-align: center;
}

.results > h3 {
  font-family: var(--ff-sans);
  font-weight: 800;
  color: var(--clr-black);
  font-size: 1.25rem;
  margin-bottom: 1em;
  text-align: center;
}

.characteristics > li {
  list-style: square;
  text-align: left;
  line-height: 1.75;
}

.characteristics > li:marker {
  color: var(--clr-orange);
}

.get-started {
  display: flex;
  flex-direction: column;
  margin-top: 3em;
}

.start-over-btn {
  background-color: var(--clr-light-green);
  width: 100%;
  margin: 2em auto 0;
}

/********** Footer Styles ************/

.footer {
  background-color: var(--clr-black);
  padding-top: 2em;
  color: var(--clr-white);
  font-size: 1rem;
  font-family: var(--ff-sans);
  font-weight: 600;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: var(--clr-green);
}
